@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*estilização do menu*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(135deg, #ff4242, #a03aff, #ff6b01);
    background-size: 300% 300%;
    animation: gradientMove 10s ease infinite;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


body{
    height: 100vh;
    background-color: #fbe2b2;
}
nav.seta{
    width: 45px;
    height: 20%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
}

nav.seta:hover{
    width: 150px;
}

.expandir{
    width: 10%;
    padding: 10px;
}
.expandir > i{
    color: #000000;
    font-size: 24px;
    cursor: pointer;
}
ul{
    height: 100%;
    list-style-type: none;
}
hr {
        border-top: 20px solid rgb(0, 0, 0); 
        width: 100%; 
        margin: 10px auto; 
    }

h1, p{
    text-align: center;
    
}
ul li.item-voltar{
    transition: .2s;
}

ul li.item-voltar:hover{
    background: #2f2f2f;
} 

ul li.item-voltar a{
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 20px;
}
ul li.item-voltar a .txt-link{
    margin-left: 25px;
}
ul li.item-voltar a .icon > i{
   font-size: 20px; 
}

hr {
        border-top: 20px solid rgb(0, 0, 0); 
        width: 100%; 
        margin: 35px auto; 
    }

    .contato {
      font-family: Arial, sans-serif;
      margin: 3px;
    }

    .contato p {
      margin: 0 auto 1em;
      font-size: 16px;
    }

    .contato a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      margin-left: 3px;
      transition: 0.3s;
    }

    .contato a:hover {
      color: #0a66c2; 
    }

    .contato i {
      font-size: 16px;
      color: #555;
      margin-right: 3px;
    }

    .whatsapp i {
      color: #25d366; 
    }
p {
  font-size: 16px;        
  line-height: 1.6;       
  color: #222;            
  max-width: 70ch;        
  margin: 0 auto 1em;     
  text-align: left;       
  padding: 0 1rem;        
}

@media (max-width: 600px) {
  p {
    font-size: 14px;      
    max-width: 100%;      
  }
  .contato p, .contato a, .contato i {
    font-size: 14px;
    max-width: 100%;
  }
  .contato i {
    font-size: 16px;
    max-width: 100%;
  }
 
}


@media (min-width: 1200px) {
  p {
    font-size: 18px;      
  }
  .contato p, .contato a, .contato i {
    font-size: 18px;
  }
  .contato i {
    font-size: 18px;
  }
}