@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
      width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(135deg, #013368, #51009d, #ff6b01);
    background-size: 300% 300%;
    animation: gradientMove 10s ease infinite;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


/* Centraliza e desloca 65px pra direita */
main {
    background-color: #000;
    padding: 10px;
    border-radius: 12px;
    min-width: 320px;
    max-width: 1700px;
    width: 90%;

    position: absolute;
    top: 50%;
    left: calc(50% + 32.5px); /* metade de 65 pra manter o equilíbrio visual */
    transform: translate(-50%, -50%);

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Imagem dentro do main */
img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
}
nav.menu-lateral{
    width: 65px;
    height: 100%;
    background-color: #000000;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #2f2f2f;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
}

nav.menu-lateral:hover{
    width: 300px;
}

.btn-expandir{
    width: 10%;
    padding: 10px;
}
.btn-expandir > i{
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
}
ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu{
    transition: .2s;
}

ul li.item-menu:hover{
    background: #2f2f2f;
} 

ul li.item-menu a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}
ul li.item-menu a .txt-link{
    margin-left: 30px;
}
ul li.item-menu a .icon > i{
   font-size: 30px; 
}

.site-footer.fixed {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(255, 255, 255, 0.099); 
  box-shadow: 0 -1px 4px rgba(0,0,0,0.05);
  text-align: center;
}


.menu-lateral .btn-expandir,
.bibilist {
    display: none;
}


@media (max-width: 1200px) {
    .menu-lateral .btn-expandir,
    .menu-lateral .icon {
        display: block; 
        cursor: pointer;
    }
}
